{
    "env": {
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "prettier/prettier": [
            "error"
        ]
    },
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "env": {
                "browser": true
            },
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaFeatures": {
                    "jsx": true
                },
                "ecmaVersion": 12,
                "sourceType": "module"
            },
            "extends": [
                "plugin:react/recommended",
                "plugin:@typescript-eslint/recommended"
            ],
            "plugins": [
                "react",
                "@typescript-eslint"
            ],
            "rules": {
                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": [
                    "warn",
                    {
                        "args": "after-used",
                        "argsIgnorePattern": "^_",
                        "caughtErrorsIgnorePattern": "^_"
                    }
                ],
                "@typescript-eslint/explicit-module-boundary-types":"off",
                "react/prop-types":"off",
                "@typescript-eslint/no-empty-interface": [
                    "off"
                ]
            }
        }
    ]
}