#information {
    padding: 64px;
    margin-left: auto;
    margin-right: auto;
}

#information h1 {
    font-weight: 900;
}

#information blockquote {
    border-left-width: 0.8rem;
    border-left-color: #ffc0cb;
    border-left-style: solid;
    padding-left: 1rem;
}

#information dl > dt {
    font-weight: 600;
}
