<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="apps.bbon.me" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://apps.bbon.me" />
    <meta property="og:image" content="/bbon-icon.png" />
    <meta property="og:description" content="Provides some features." />
    <meta property="og:site_name" content="apps.bbon.me" />
    <link href="./favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="manifest" href="/app.webmanifest">
    <title>apps.bbon.me</title>
    <script>
        window.GAID = '<%= gaid %>';
    </script>
</head>
<body>
    <noscript>Please Enable JavaScript. This app needs Javascript to run this app.</noscript>
    <div id="app"></div>
</body>
</html>